<h1>New user</h1>
<%= form_for @user, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
  <%= f.label :name  %><br>
  <%= f.text_field :name %><br>
  <%= f.label :password  %><br>
  <%= f.password_field :password %><br>
  <%= f.label "Height (in inches)" %><br>
  <%= f.number_field :height %><br>
  <%= f.label "How happy are you? (1-5 scale)" %><br>
  <%= f.number_field :happiness %><br>
  <%= f.label "How nauseaous are you? (1-5 scale)" %><br>
  <%= f.number_field :nausea %><br>
  <%= f.label "How many dollars are in your pocket?" %><br>
  <%= f.number_field :tickets %><br>
  <%= f.label "Check box if you are a theme park owner" %>
  <%= f.hidden_field :admin, :value => "0" %>
  <%= f.check_box :admin %><br><br>
  <%= f.submit "Create User" %><br>
<% end %>
<br><a href="/users">Back</a>
