<img src="http://www.allthingsclipart.com/05/amusement.park.05.jpg" height="250">
<div class="info">
    <p><strong>Name:</strong><%= @attraction.name%></p>
    <p><strong>Total Number of Users:</strong><</p>
    <p><strong>Ticket Requirement:</strong><%= @attraction.tickets %></p>
    <p><strong>Height Requirement:</strong><%= @attraction.min_height%></p>
    <p><strong>Nausea Rating:</strong><%= @attraction.nausea_rating %></p>
    <p><strong>Happiness Rating:</strong><%= @attraction.happiness_rating %></p>
    <%= form_for @attraction do |f| %>
      <% f.hidden_field :attraction_id, value: @attraction.id %>
      <%= f.submit "Go on this ride" %>
    <% end %>
    <% if @user.admin? %>
      <td><%= link_to "Edit Attraction", edit_attraction_path(@attraction.id) %></td>
    <% end %>
    <p></p>
    <a href="/attractions">Back</a><p></p>
</div>